<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    
  </head>
  <body> -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
        <a class="navbar-brand" href="{% url 'index' %}"> Gallery</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/admin/">Dashboard</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOCATIONS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                {% for location in locations %}
                <a class="dropdown-item"  href="{% url 'displayLocation' location.id%}">{{location.name}}</a>
                {% endfor %} -->
              </div>
            </li>
          </ul>
          <form class="form-inline nav navbar-nav navbar-right" role="search"style="margin-top:20px;" action="{% url 'search_category' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Category" aria-label="Search" name='category'>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

  </body>
</html>
